[Unit]
Description=AutoHome Service
After=local-fs.target network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=on-failure
User=root
Group=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=auto-home

ExecStart=/opt/auto-home/bin/python -m auto_home
ExecReload=/bin/kill -s HUP $MAINPID
